@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl font-semibold pb-2;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.App {
  text-align: center;
  margin: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.button {
  height: 10vh;
}
.windows {
  display: flex;
  flex-wrap: nowrap;
  height: 80vh;
}
.window {
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 10px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

/* Apply full-width style to the visible window */
.full-width {
  width: 100%;
}

h2 {
  margin: 0;
}

textarea {
  height: 100%;
}

#song-editor {
  overflow: scroll;
}

.chord {
  color: blue;
}

pre {
  whitespace: 'pre-wrap';
  fontfamily: 'monospace';
  text-align: left;
}
